<%= render  'form_meta_info' %>
<div class='deal-left-container'>
  <%= render  'bill_info' %>
  <%= render  'purchase_info' %>
  <%= render  'property_info' %>
</div>
<div class='deal-right-container'>
  <%= render  'marketing_info' %>
  <%= render  'options' %>
  <%= render  'payment_schedule' %>
</div>
