<%= render  'sale_info' %>
<div class='sale-left-container'>
  <%= render  'bill_info' %>
  <%= render  'property_info' %>
  <%= render  'payment_schedule' %>
</div>
<div class='sale-right-container'>
  <%= render  'purchase_info' %>
  <%= render  'marketing_info' %>
</div>
