<html>
  <head>
    <script data-main="/javascripts/app/main.js" src="/javascripts/lib/RequireJS.2.1.2.js"></script>
    <%= stylesheet_link_tag "lib/bootstrap.css" %>
    <%= stylesheet_link_tag "lib/jquery-ui/jquery-ui-1.10.1.custom" %>
    <%= stylesheet_link_tag "layout" %>
    <%= stylesheet_link_tag "dashboard" %>
    <%= stylesheet_link_tag "deals" %>
  </head>
  <body>
    <div class='sidebar'>
      <div class='logo'>Brokerage Base</div>
      <div id='main-nav' class='main-nav'></div>
    </div>
    <div class='content-container'>
      <div class='top-menu-container'>
        <ul>
          <li>
            <i class='glyphicon glyphicon-cog'></i>
            <span>Settings</span>
          </li>
          <li>
            <i class='glyphicon glyphicon-share-alt'></i>
            <span>Logout</span>
          </li>
        </ul>
      </div>
      <div class='main-content'>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
